parameters:
    level: 9
    paths:
        - src
        - tests
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    reportUnmatchedIgnoredErrors: true
    tmpDir: var/cache/phpstan

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
