parameters:
    level: 9
    bootstrapFiles:
        - ../PHPMailer/src/Exception.php
        - ../PHPMailer/src/PHPMailer.php
        - ../PHPMailer/src/SMTP.php
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: true
    tmpDir: var/cache/phpstan

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
